.card-title {
  margin-bottom: 20px;
}

input, textarea {
  cursor: pointer;
}

mat-icon {
  color: #808080;
}

a.link {
  text-decoration: none !important;
  display: flex;
}

.left-column {
  flex: 15%;
}

.right-column {
  flex: 85%;
}